:root {
  --font: 'Roboto Condensed', sans-serif;
  --liBlue: #51eaea;
  --liYellow: #fffde1;
  --liOrange: #ff9d76;
  --liPink: #fb3569;
}

/* GLOBALS */
* {
  font-family: var(--font);
}

/* NAVIGATION BAR */
h3 {
  color: var(--liPink);
  font-size: 25px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--liBlue);
}

nav {
  display: flex;
  column-gap: 35px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline wavy var(--liPink);
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  font-weight: 700;
  font-size: 30px;
  background-color: var(--liYellow);
  padding: 100px 0;
}

.hero .left-side {
  width: 370px;
  color: #fb3569;
}

.hero p {
  font-size: 20px;
  font-weight: 300;
  color: black;
}

.hero img {
  height: 400px;
  width: auto;
}
