:root {
  --font: 'Roboto Condensed', sans-serif;
  --liBlue: #51eaea;
  --liYellow: #fffde1;
  --liOrange: #ff9d76;
  --liPink: #fb3569;
}

* {
  font-family: var(--font);
}

h3 {
  color: var(--liPink);
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--liBlue);
}

nav {
  display: flex;
  column-gap: 35px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline wavy var(--liPink);
}
